{% extends 'base.html.twig' %}

{% block title %}

    My symfony project

{% endblock %}


{% block body %}
    <br>
    <br>
    <br>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h2>Categories</h2>
                    <ul>

                    </ul>
                </div>
                <div class="col-md-10">
                    {{ sg_datatables_render(datatable) }}
                </div>
            </div>
        </div>
    </article>

{% endblock %}

