{% extends 'base.html.twig' %}

{% block title %}

    My symfony project

{% endblock %}


{% block body %}
    <br>
    <br>
    <br>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{ sg_datatables_render(datatable) }}
                </div>
            </div>
        </div>
    </article>

{% endblock %}

