{% extends 'base.html.twig' %}

{% block title %}

    My symfony project

{% endblock %}


{% block body %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-inverse">
                        <tr>
                            <td>Заголовок</td>
                            <td>Текст</td>
                        </tr>
                        <tr>
                            <td>{{ article[0].title }}</td>
                            <td>{{ article[0].text }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </article>

{% endblock %}
{% block javascripts %}

{% endblock %}
